<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yykj.mybatis.common.IUserDao">

	<select id="getUserList" resultType="User">
		select * from user
	</select>

	<select id="getUserByID" parameterType="int" resultType="com.yykj.mybatis.bean.User">
		select * from user where id = #{id}
	</select>

	<insert id="insertUser" parameterType="com.yykj.mybatis.bean.User">
		insert into user(name, pwd) values (#{name}, #{pwd})
	</insert>

	<update id="updateUser" parameterType="com.yykj.mybatis.bean.User">
		update user set name = #{name}, pwd = #{pwd} where id = #{id}
	</update>

	<delete id="deleteUser" parameterType="int">
		delete from user where id = #{id}
	</delete>

	<insert id="insertUser02" parameterType="Map">
		insert into user(name, pwd) values (#{user_name}, #{user_pwd})
	</insert>
</mapper>